/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 32 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

- Letter spacing
-0.5px
0.75px

--- 02 COLORS

- Primary: #e67e22
- Tints:
#fdf2e9
#fae5d3
#eb984e

- Shades: 
#cf711f
#45260a

- Accents:
- Greys

#888
#767676 (lightest grey allowed on #fff)
#6f6f6f (lightest grey allowed on #fdf2e9)
#555
#333

--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS

Default: 9px
Medium: 11px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 / 144
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  width: 100%;
  height: 100%;
  color: #615551;
}

body {
  font-family: "Nunito Sans", sans-serif;
  background-image: linear-gradient(to bottom right, #add8e6, #9ad49f);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center !important;
  width: 100%;
  height: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.container {
  border-radius: 10px;
  background-color: #f9f5f3;
  width: 144rem;
  height: 80rem;
  box-shadow: 0 2rem 6rem 0.5rem #61555133;
  display: grid;
  grid-template-rows: 1fr 11fr;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 2rem;
  height: 100%;
  width: 20%;
  gap: 1.8rem;
}

.logo {
  border-radius: 50%;
  background-image: linear-gradient(to bottom right, #add8e6, #9ad49f);
  background-repeat: no-repeat;
  width: 6.4rem;
  height: 6.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand {
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-size: 3.6rem;
}

.logo-icon {
  color: #f9f5f3;
  height: 4rem;
  width: 4rem;
  display: block;
}

.logout-icon {
  color: #9ad49f;
  height: 4rem;
  width: 4rem;
  display: block;
}

.logout {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 2rem;
  padding-right: 2rem;
  height: 100%;
  gap: 0.8rem;
  text-transform: uppercase;
  font-weight: 400;
  font-family: "Nunito Sans", sans-serif;
  color: #615551;
  cursor: pointer;
}

.inner-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 4rem;
  padding: 3.2rem;
}

.login-header,
.signup-header {
  text-align: center;
  color: #615551;
  font-size: 3.6rem;
  text-transform: uppercase;
  font-weight: 700;
}

.input-container {
  display: grid;
  grid-template-columns: 1fr 8fr;
  border-bottom: 1px solid #9ad49f;
  padding: 0.8rem 2rem;
}

.user-icon {
  stroke: #9ad49f;
  width: 4rem;
  height: 4rem;
}

.form-input {
  height: 4rem;
  /* border-radius: 30px; */
  /* border: 1px solid #9ad49f; */
  border: none;
  background-color: inherit;
  color: #615551;
  font-size: 2.4rem;
}

.form-input:focus {
  outline: none;
}

.form-input::placeholder {
  color: #d0cccb;
}

.submit {
  background-image: linear-gradient(to bottom right, #add8e6, #9ad49f);
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  font-size: 2rem;
  border: none;
  color: #f9f5f3;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-form {
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: grid;
  grid-template-rows: 1fr 10fr;
}

.signup-form-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  padding: 0 12.8rem 9.6rem;
}

.signup-elm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-elm .input-container {
  gap: 2rem;
}

.signup-submit {
  width: 100%;
  margin: 0 6.8rem;
  gap: 2rem;
  padding: 1rem;
}

.forgot-password {
  font-size: 2rem;
  color: #9ad49f;
  cursor: pointer;
}

.not-a-member {
  font-size: 2rem;
  text-align: center;
}

.sign-up {
  color: #9ad49f;
  cursor: pointer;
}

.gender-dropbox {
  position: absolute;
  background-image: linear-gradient(to bottom right, #add8e6, #9ad49f);
  width: 100%;
  padding: 0.8rem 2rem;
  top: 6.4rem;
  height: 12.8rem;
  display: flex;
  flex-direction: column;
}

.country-dropbox {
  position: absolute;
  background-image: linear-gradient(to bottom right, #add8e6, #9ad49f);
  width: 100%;
  padding: 0.8rem 2rem;
  top: 6.4rem;
  height: 12.8rem;
  overflow-y: scroll;
}

.collapse {
  visibility: collapse;
}

.gender-opt {
  text-align: center;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f9f5f3;
  text-transform: uppercase;
  font-size: 2rem;
  gap: 1rem;
  cursor: pointer;
}

.gender-line {
  border: 1px solid #f9f5f3;
}

.gender-icon {
  width: 2.4rem;
  height: 2.4rem;
}

.no-select {
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
}
